
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');


:root {
    --cor-principal: #000000;
    --cor-secundaria: #7c1818;
    --cor-destaque: #140101;
}
body{
    background-color: #eb5b5b;
}
body {
    font-family: 'girassol';
    color: var(--cor-principal);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-secundaria)
}

a:hover{
    color: var(--cor-destaque);
}
